<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ content.html_title }}</title>
        <meta name="description" content="{{ content.meta_description }}">
        {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
        {{ standard_header_includes }}
        {% include 'custom/page/materializeHS/material-head-includes.html' %}
        {% import "custom/page/materializeHS/material-settings.html" as settings %}
    </head>
    
    
    {% choice "sidebar" label='Will this page use a sidebar?', value='sidebar', choices='sidebar, no-sidebar' export_to_template_context=True %}
    <body class="nodeid-{{ content_id }} ">
      
      <div id="top" class="materialize hs">
        <div class="page">
          <div class="page-inner">
        

            {% include 'custom/page/materializeHS/material-header.html' %}


            <div id="content-area-wrapper" class="content-area-wrapper">
              <div class="inner">
        

                <section id="preface-wrapper" class="preface-wrapper wrapper">
                  <div class="inner">
                    <div id="preface-container" class=""> <!-- add container class here to make preface not full-width-->
                      <div id="preface" class="region clearfix">
                        <div class="inner row">
                        {% image_slider "hero_banner" label="Hero Slider (only one slide makes it a Hero Banner)" transition='fade', caption_position='superimpose', auto_advance=True, show_pagination=False, num_seconds="5" %}
                        
                        
                        </div><!-- .inner -->
                      </div> <!-- #preface -->
                    </div>  <!-- #preface-container -->
                  </div>
                </section>

      
              <div id="content-wrapper" class="content-wrapper wrapper">
                <div class="inner">
                  <div id="content-container" class="container">
                    <div class="inner row">
                
                      <main class="content-region col s12{% if widget_data.sidebar.value == 'sidebar' %} m9{% else %}{% endif %}" role="main">
                        <a id="main-content"></a>
                          <div class="inner">
                            <div class="layout-content">
                        <h1 class="page-header title">{% text "H1 Title" label="H1.title", no-wrapper=True %}</h1>
                        {% image "image_upload" label='Image Upload' %}
                        {% rich_text "content-body" label="Body Content" %}

                    
                                              </div><!-- .layout-content -->
                        </div>
                      </main> <!-- .content-region -->
                        
                        {% if widget_data.sidebar.value == 'sidebar' %}
                        <aside class="sidebar-second sidebar region layout-sidebar-second col s12 m3" role="complementary">
                          <div class="inner">
                            
                            {% rich_text "sidebar_block_1" label="Sidebar Free Block" export_to_template_context=True %}
                            {% if widget_data.sidebar_block_1.html %}
                              {% rich_text "sidebar_block_1" label="Sidebar Free Block" %}
                            {% endif %}
                            
                          </div> <!-- .inner -->
                        </aside>  <!-- #sidebar-second -->
                        {% else %}{% endif %}
              
                      </div> <!-- inner row --> 
                    </div> <!-- #content-container -->
                  </div>
                </div> <!-- #content-wrapper -->
              </div>
            </div><!-- #content-area-wrapper -->
      
            {% rich_text "Postscript" label="Postscript Region - Shows below the main content &amp; sidebars", value="", export_to_template_context=True %}
            {% if widget_data.Postscript.html %}
              <section id="postscript-wrapper" class="preface-wrapper wrapper">
                <div class="inner">
                  <div id="postscript-container" class="container">
                    <div id="postscript" class="region clearfix">
                      <div class="inner row">
                      {% rich_text "Postscript" label="Postscript Region - Shows below the main content &amp; sidebars" %}
                      </div><!-- .inner -->
                    </div> <!-- #postscript -->
                  </div>  <!-- #postscript-container -->
                </div>
              </section>
            {% else %}
            <!-- postscript region not used -->
            {% endif %}

            {% include 'custom/page/materializeHS/material-footer.html' %}
            {{ standard_footer_includes }}
    
            {% include 'custom/page/materializeHS/material-mobile.html' %}
    
      
          </div> <!-- .page-inner -->
    
          <div id="back-to-top-wrapper">
            <a href="#top" id="back-to-top" class="back-to-top waves-effect waves-light">Back To Top &nbsp; <i class="fa fa-arrow-circle-up"> </i></a>
          </div>  
        </div> <!-- .page -->
      </div> <!-- .materialize -->



      
      
        
    </body>
</html>