<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ content.html_title }}</title>
        <meta name="description" content="{{ content.meta_description }}">
        {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
        {{ standard_header_includes }}
        <link rel="stylesheet" type="text/css" href="{{ get_public_template_url("custom/page/materializeHS/style.css") }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        
        <script type="text/javascript" src="http://cdn.tributemedia.com/sites/default/files/js/07-tm-base.js"></script>
        <script type="text/javascript" src="http://cdn.tributemedia.com/sites/default/files/js/07-bootstrap.js"> </script>
    </head>
    
    
    <body>
      
      <div id="top" class="materialize hs">
        <div class="page">
          <div class="page-inner">
        

            {% include 'custom/page/materializeHS/material-header.html' %}


            <div id="content-area-wrapper" class="content-area-wrapper">
              <div class="inner">
        
              {% if widget_data.Preface.value %}
                <section id="preface-wrapper" class="preface-wrapper wrapper">
                  <div class="inner">
                    <div id="preface-container" class=""> <!-- add container class here to make preface not full-width-->
                      <div id="preface" class="region clearfix">
                        <div class="inner row">
                        {% image_slider "Preface" label="Preface Region - Slideshow" %}
                        </div><!-- .inner -->
                      </div> <!-- #preface -->
                    </div>  <!-- #preface-container -->
                  </div>
                </section>
              {% else %}
              <!-- preface region not used -->
              {% endif %}
      
              <div id="content-wrapper" class="content-wrapper wrapper">
                <div class="inner">
                  <div id="content-container" class="container">
                    <div class="inner row">
                
                      <main class="content-region col s12" role="main">
                        <a id="main-content"></a>
                          <div class="inner">
                            <div class="layout-content">

                        <h1 class="page-header title">{% text "H1 Title" label="H1.title" %}</h1>
                        {% rich_text "content-body" label="Body Content" %}
                    
                                              </div><!-- .layout-content -->
                        </div>
                      </main> <!-- .content-region -->
              
              
                      </div> <!-- inner row --> 
                    </div> <!-- #content-container -->
                  </div>
                </div> <!-- #content-wrapper -->
              </div>
            </div><!-- #content-area-wrapper -->
      
            {% raw_html "Postscript" label="Postscript Region - Shows below the main content &amp; sidebars", value="", export_to_template_context=True %}
            {% if widget_data.Postscript.value %}
              <section id="postscript-wrapper" class="preface-wrapper wrapper">
                <div class="inner">
                  <div id="postscript-container" class="container">
                    <div id="postscript" class="region clearfix">
                      <div class="inner row">
                      {% raw_html "Postscript" label="Postscript Region - Shows below the main content &amp; sidebars" %}
                      </div><!-- .inner -->
                    </div> <!-- #postscript -->
                  </div>  <!-- #postscript-container -->
                </div>
              </section>
            {% else %}
            <!-- postscript region not used -->
            {% endif %}

            {% include 'custom/page/materializeHS/material-footer.html' %}
            {{ standard_footer_includes }}
    
            {% include 'custom/page/materializeHS/material-mobile.html' %}
    
      
          </div> <!-- .page-inner -->
    
          <div id="back-to-top-wrapper">
            <a href="#top" id="back-to-top" class="back-to-top waves-effect waves-light">Back To Top &nbsp; <i class="fa fa-arrow-circle-up"> </i></a>
          </div>  
        </div> <!-- .page -->
      </div> <!-- .materialize -->



      
      
        
    </body>
</html>