/* hubspot specific fixes to be rolled into overrides.css later */

/*---------- Slideshow ---------------------*/
.hs_cos_flex-slide-main {display:none;}
.hero-wrapper .hs_cos_flex-direction-nav {display:none;}

.hero-wrapper ul {padding:0;margin:-2px 0 0;}
.hero-wrapper ul li img {width:100%;}

.hero-wrapper .superimpose .caption,
.video-wrapper .caption {
  position:absolute;
  top:0;
  width:100%;
  text-align:center;
}

.preface-wrapper .caption h1, .preface-wrapper .caption h2 {font-size:5vw; line-height:4.3vw;text-shadow: 0px 0px 2px #111;}
.preface-wrapper .caption h3 {font-size:2.5vw;line-height:2.6vw;text-shadow: 0px 0px 2px #111;}
.preface-wrapper .caption a {font-size:1.9vw;line-height:36px;padding:1vw 2vw;}

.hs #content-container {padding-top:20px;}
.hs h1.title {padding:0 10px;}


.video-wrapper .fullscreen-bg {position:relative;}
.video-wrapper {max-height:500px;height:60vh;overflow:hidden;margin-top:-2px;}

.content-region .field-name-field-image {margin-top:10px;}
.hs .node-article footer {height:50px;}

/* forms */
.blog .hs [type="checkbox"]:not(:checked), .blog .hs [type="checkbox"]:checked {
  left:0;
  position:relative;
  visibility:visible;
  margin-right:6px;
}
/* recaptcha */
#recaptcha_table td {border:transparent;margin:0 !important;}
#recaptcha_table #recaptcha_response_field {border:transparent !important;margin:0;}
.recaptcha_only_if_privacy {
    float: none !important;
    height: 32px !important;
    margin: 13px !important;
    padding: 10px !important;
    position: absolute !important;
    text-align: right !important;
    width: 100px !important;
    top:40px !important;
    left:1900px !important;
}
/* social shares */
.post-footer {margin-bottom:20px;min-height:25px;}
.social-links ul.links {padding-left:0;}
.please-share {list-style-type:none;display:inline;position:relative;top:-5px;margin-right:10px;}

/* author section on blog */

.about-author-sec {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-clip: padding-box;
  clear: left;
  padding: 10px;
  margin-bottom:20px;
}
.about-author-sec > div:first-child {
  background-clip: padding-box;
  border-radius: 100px;
  clear: left;
  float: left;
  height: 100px;
  margin: 10px;
  overflow: hidden;
  width: 100px;
}
.about-author-sec h4 {
  font-size:110%;
}

h3.comment-title {margin-bottom:-20px;margin-top:25px;font-size:1.25rem;}
.post-footer .comment.depth-0 {border:1px solid #ddd;padding:10px;border-radius: 2px;background-clip: padding-box;}
.post-footer .comment.depth-1 {border-top:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:3px solid #aaa;padding:10px;border-radius: 2px;background-clip: padding-box;margin:5px 0 0 60px;}
.post-footer .comment h4 {font-size:1.25rem;}
.post-footer .comment h4:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: 1em;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  margin-left:0;
}
.post-footer .comment .comment-date {font-size: .8rem;}
.post-footer .comment .comment-body {font-size:1rem;}
.post-footer .comment .comment-body > p:first-child {margin-top:0;}
.post-footer .comment button.comment-reply-to {background-image:none;padding:0 15px;background-color:#ccc;font-size:.75rem;width:100%;}
.post-footer .comment button.comment-reply-to:hover {background-color:#777;color:#fff;}

.post-footer .comment button.comment-reply-to:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: 1.1em;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  margin-left:0;
  margin-right:5px;
}
.post-footer .new-comments {margin-top:20px;}
@media only screen and (max-width : 600px) {
  .preface-wrapper .caption h1, #hs_cos_wrapper_hero_banner .caption h2 {font-size:5vw; line-height:4vw;}
  .preface-wrapper .caption h3 {font-size:2.5vw;line-height:1.6vw;}
  .preface-wrapper .caption a {font-size:1.4vw;line-height:24px;padding:.9vw 1.5vw;}
  .hs_cos_wrapper_type_image_slider .superimpose .caption {top:0;}
 }


@media only screen and (min-width : 601px) {
  .hero-wrapper .superimpose .caption,
  .video-wrapper .caption {
    top:50px;
  }

}
@media only screen and (min-width : 993px) {
  .hs .sidebar-second.form.form-right-of-content {background-color:#fdfdfd;padding:0 20px 20px;margin-top:20px;float:left;width:50%;}
  .hs .side-by-side .content-region .field-name-field-image {margin-top:20px;}
}

@media only screen and (min-width : 1280px) {

}

@media only screen and (max-width: 992px) {
}