/* hubspot specific fixes to be rolled into overrides.css later */

/*---------- Slideshow ---------------------*/
#hs_cos_wrapper_hero_banner .hs_cos_flex-direction-nav {display:none;}

#hs_cos_wrapper_hero_banner ul {padding:0;margin:-2px 0 0;}
#hs_cos_wrapper_hero_banner ul li img {width:100%;}

.hs_cos_wrapper_type_image_slider .superimpose .caption {
  position:absolute;
  top:50px;
  width:100%;
  text-align:center;
}

#hs_cos_wrapper_hero_banner .caption h1, #hs_cos_wrapper_hero_banner .caption h2 {font-size:5vw; line-height:4.3vw;}
#hs_cos_wrapper_hero_banner .caption h3 {font-size:2.5vw;line-height:2.6vw;}
#hs_cos_wrapper_hero_banner .caption a {font-size:1.9vw;line-height:36px;padding:1vw 2vw;}

.hs #content-container {padding-top:20px;}
.hs h1.title {padding:0 10px;}



.content-region .field-name-field-image {margin-top:10px;}
@media only screen and (max-width : 600px) {
  #hs_cos_wrapper_hero_banner .caption h1, #hs_cos_wrapper_hero_banner .caption h2 {font-size:5vw; line-height:4vw;}
  #hs_cos_wrapper_hero_banner .caption h3 {font-size:2.5vw;line-height:1.6vw;}
  #hs_cos_wrapper_hero_banner .caption a {font-size:1.4vw;line-height:24px;padding:.9vw 1.5vw;}
  .hs_cos_wrapper_type_image_slider .superimpose .caption {top:0;}
 }


@media only screen and (min-width : 601px) {


}
@media only screen and (min-width : 993px) {
  .hs .sidebar-second.form.form-right-of-content {background-color:#fdfdfd;padding:0 20px 20px;margin-top:20px;float:left;width:50%;}
  .hs .side-by-side .content-region .field-name-field-image {margin-top:20px;}
}

@media only screen and (min-width : 1280px) {

}

@media only screen and (max-width: 992px) {
}